<?xml version="1.0" encoding="utf-8"?>

<!-- John Paul Wehner, Max Vaughan
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <clear />
        <add value="WebForm2.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>  
    <connectionStrings>
    <add name="dbconnection"  connectionString="Data Source=localhost;Initial Catalog=Lab3;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="authconnection"  connectionString="Data Source=localhost;Initial Catalog=Auth;Integrated Security=True" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <system.web>
    
    <authorization>
      <allow users="*" />
    </authorization>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
</configuration>
